@model IEnumerable<CinemaHitss.Usuario>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Cuenta</h1>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string nombre = item.Nombre;
        string sessi = (string)Session["Login"];

        if (nombre.Equals(sessi))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar Cuenta", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>
<li>@Html.ActionLink("Regresar a Inicio ", "Index", "Home")</li>
